.retro-textarea-readOnly {
    color: #363636;
    width: 100%;
    min-height: 120px;
    max-height: 600px;
    resize: none;
    display: block;
    max-width: 100%;
    min-width: 100%;
    padding: .625em;
    white-space: pre-wrap;
}

.retro-select-readOnly {
    padding-right: 2.5em;
    padding: calc(.375em - 1px) calc(.625em - 1px);
    height: 2.25em;
}

button > * {
    pointer-events: none;
}

.retro-otherbox {
    background-color: hsla(48, 100%, 67%, 0.322);
}